@rendermode InteractiveServer
@using SHVA.Data.Services
@page "/WoningDashBoard"
@attribute [Authorize(Roles = "Admin")];
@inject WoningService woningService;

<button class="btn btn-primary">Add Woning </button>

@if (EditWoning != null)
{
  <EditForm Model="EditWoning">
    <label>Name:</label>
    <input type="text" @bind="EditWoning.Name" />
    <label>Description:</label>
    <input type="text" @bind="EditWoning.Description" />
    <label>Type:</label>
    <input type="Type" @bind="EditWoning.Type" />
    <label>Adress:</label>
    <input type="text" @bind="EditWoning.Adress" />
    <label>Image:</label>
    <input type="text" @bind="EditWoning.Image" />
    <label>HuisvestingingAnbieder</label>
    <HuisVestingAanbiederSelector HuisVestingAanbiederSelected="e =>  EditWoning.Huisvestingaanbieder = e" />

    <button class="btn btn-primary" @onclick="WoningManger">Save</button>
  </EditForm>
}

<table class="table">
  <thead>
    <tr>
      <td scope="col">Id</td>
      <td scope="col">Name</td>
      <td scope="col">Description</td>
      <td scope="col">Type</td>
      <td scope="col">Adress</td>
      <td scope="col">Image</td>
      <td scope="col">HuisvestingingAnbieder</td>
      <td scope="col">Rooms</td>
      <td scope="col">Studenten</td>
      <td scope="col">Edit</td>
      <td scope="col">Delete</td>
    </tr>
  </thead>
  <tbody>
    @foreach (var woning in Woningen)
    {
      <tr>
        <td scope="row">@woning.Id</td>
        <td>@woning.Name</td>
        <td>@woning.Description</td>
        <td>@woning.Type</td>
        <td>@woning.Adress</td>
        <td>@woning.Image</td>
        <td>@woning.Huisvestingaanbieder</td>
        <td>
          <div class="rooms">
            <button> </button>
          </div>
        </td>
        <td><div class="students"></div></td>
        <td><button class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M352 320c88.4 0 160-71.6 160-160c0-15.3-2.2-30.1-6.2-44.2c-3.1-10.8-16.4-13.2-24.3-5.3l-76.8 76.8c-3 3-7.1 4.7-11.3 4.7H336c-8.8 0-16-7.2-16-16V118.6c0-4.2 1.7-8.3 4.7-11.3l76.8-76.8c7.9-7.9 5.4-21.2-5.3-24.3C382.1 2.2 367.3 0 352 0C263.6 0 192 71.6 192 160c0 19.1 3.4 37.5 9.5 54.5L19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L297.5 310.5c17 6.2 35.4 9.5 54.5 9.5zM80 408a24 24 0 1 1 0 48 24 24 0 1 1 0-48z" /></svg></button></td>
        <td><button class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z" /></svg></button></td>
      </tr>
    }
  </tbody>
</table>


@code {
  List<Woning> Woningen => woningService.GetWoningen();

  Woning? EditWoning;


  void DeleteWoning(int id) => woningService.DeleteWoningbyId(id);

  void WoningManger()
  {

  }


}
